flask
flask-cors


# Honeycomb ====

opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests

# AWS Xray=====

aws-xray-sdk

# Cloud Watch Logs
watchtower
